<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> - Pirates of the Carribean - </title>
    </head>
    <body>
        <h1> Welcome to the Nested Forms Lab! </h1>
        <h2> <a href='/new'> - Create your pirates and ships here! - </a> </h2>
    </body>
</html>