<h1>Make your form here</h1>
<form action="/pirates" method="post">
Pirate name: <input type="text" name="pirate[name]" id="pirate[name]" ><br>
Pirate weight: <input type="text" name="pirate[weight]" id="pirate[weight]"><br>
Pirate height: <input type="text" name="pirate[height]" id="pirate[height]"><br>
Pirate first ship name: <input type="text" name="pirate[ships][][name]" id="ship_name_1"><br>
Pirate first ship type: <input type="text" name="pirate[ships][][type]" id="ship_type_1"><br>
Pirate first ship booty: <input type="text" name="pirate[ships][][booty]"id="ship_booty_1"><br>
Pirate 2nd ship name: <input type="text" name="pirate[ships][][name]"id="ship_name_2"><br>
Pirate 2nd ship type: <input type="text" name="pirate[ships][][type]"id="ship_type_2"><br>
Pirate 2nd ship booty: <input type="text" name="pirate[ships][][booty]"id="ship_booty_2"><br>
<input type="submit" value="Submit">

</form>
